body {
    font-family: 'sans-serif';
    font-size: 14px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.pull-form {
    max-width: 600px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
    width: 20%;
    margin: 0 5% 0 0;
}

.form-group input {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0;
    line-height: 30px;
    width: 75%;
}

.form-group input:focus {
    outline: none;
}

.form-group.form-group--radio input {
    cursor: pointer;
    width: 10%;
    margin: 0 5% 0 0;
}

.form-group.form-group--radio label {
    cursor: pointer;
    width: 85%;
    margin: 0;
}

.answer-voices-wrapper {

}

.answer-voices {
	padding: 5px;
	line-height: 30px;
}

.answer-voices:hover {
	background: #efefef;
}

.answer-voices .text {
	display: inline-block;
	margin: 0;
	width: 75%;
}

.answer-voices .percents {
	display: inline-block;
	margin: 0 0 0 5%;
	width: 20%;
	text-align: right;
}


.button {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    border: 1px solid #000;
    border-radius: 0;
}

.button.button--block {
    display: block;
    width: 100%;
}

.error-box {
    color: #f00;
}

.error-box .error {

}

.message-box {
    padding: 15px;
    text-align: center;
}